@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.content {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}

h1, h2, h3 {
    font-family: "Inter", sans-serif;
    font-weight: 800!important;
    font-optical-sizing: auto;
}

h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600!important;
    font-optical-sizing: auto;
}

.content :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
   margin-top: calc(var(--hx-spacing)*4)!important;
}

.content :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)):first-child {
    margin-top: calc(var(--hx-spacing)*0)!important;
}
