@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.content {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--hx-color-blue-900)!important;
}
